<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles/index.css" type="text/css">
    </head>
    <body>
        <nav>
            <a href="/">HOME</a>
            <div>
                <a href="/products">PRODUCTS</a>
                <a href="/categories">CATEGORIES</a>
                <a href="/brands">BRANDS</a>
            </div>
        </nav>
        <h1><%= title %></h1>
        <a href="/products/addProduct" class="addProduct">ADD NEW PRODUCT</a>
        <div class="productsPanel">
            <section class="products"> 
                <% products.forEach(product => { %>
                    <a href="/products/<%= product.id
                        %>" class="card">
                        <img class="cardImg" src="<%= product.image_url %>" alt="<%= product.name %>">
                        <hr>
                        <div class="cardInfo">
                            <p><%= product.brand %> <%= product.name %></p>
                            <p><%= product.price %>€</p>
                        </div>
                    </a>
                <% }) %>
            </section>
        </div>
    </body>
</html>